<div class="login-content">
    
    <div class="login">
        <div class="description">
            
            <img src="assets/public/img/edit.svg" alt="image">
        </div>    
        <div class="formContent">
            <div class="routers">
                <span routerLink="signIn" routerLinkActive="active">SignIn</span>
                <span>/</span>
                <span routerLink="signUp" routerLinkActive="active">SignUp</span>
            </div>
            <div class="routerContent">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
