<div class="chat_nav_right_top">
    <div class="chat_nav_right_top_option">
        <div >
            <span>
                <img src="assets/public/icon/OptionBack.png" alt="back" title="back">
            </span>
        </div>
        <div class="chat_nav_right_top_MoreOption">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<div class="chat_nav_right_content" >
    <div class="chat_nav_right_top_image_perfil">
        <div class="image_perfil_conten">
            <img src="assets/public/icon/sonreir.svg" alt="" title="image perfil">
        </div>
        <div class="image_perfil_conten_info_user">
            <span>{{UserSelected.msm.user.name}}</span>
            <span>{{UserSelected.msm.user.email}}</span>
        </div>
    </div>
    <div class="chat_nav_right_top_user_option">
        <div class="chat_nav_option_user">
            <span>
                <img src="assets/public/icon/sonreir.svg" alt="">
            </span>
            <span>
                <img src="assets/public/icon/sonreir.svg" alt="">
            </span>
            <span>
                <img src="assets/public/icon/sonreir.svg" alt="">
            </span>
            <span>
                <img src="assets/public/icon/sonreir.svg" alt="">
            </span>
        </div>
    </div>
    <div class="chat_nav_right_chat_option_user">
        <div class="option_chat_user">
            <div class="chat_nav_right_chat_option">
                <span>Theme</span>
                <span><img src="assets/public/icon/sonreir.svg" alt=""></span>
            </div>
            <div class="chat_nav_right_chat_option">
                <span>Theme</span>
                <span><img src="assets/public/icon/sonreir.svg" alt=""></span>
            </div>
            <div class="chat_nav_right_chat_option">
                <span>Theme</span>
                <span><img src="assets/public/icon/sonreir.svg" alt=""></span>
            </div>
        </div>
    </div>
    <div class="chat_nav_right_all_image">
        <div class="nav_option_all_image">
            <span>All Image</span>
            <span>Send</span>
            <span>Received</span>
        </div>
        <div class="nav_option_all_image_view">
            <span>
                <img src="assets/public/icon/sonreir.svg" alt="">
            </span>
            <span>
                <img src="assets/public/icon/sonreir.svg" alt="">
            </span>
            <span>
                <img src="assets/public/icon/sonreir.svg" alt="">
            </span>
            <span>
                <img src="assets/public/icon/sonreir.svg" alt="">
            </span>
        </div>
    </div>
</div>