<div #search class="search-User-content">
    <div class="search-User-nav">
        <span (click)="openSearch(search, false)">
            <img  src="assets/public/icon/OptionBack.png" alt="icon">
        </span>
        <span><input type="text" placeholder="Search" #name (keyup)="SearchUsers($event)"></span>
    </div>
    <div class="search-User-person" *ngFor="let users of AllUserSearch" >
        
        <div class="person ripple" (click)="UserSelected({id:users._id,name:users.name})">
            <span><img src="assets/public/icon/sonreir.svg" alt="img"></span>
            <span>{{users.name}}</span>
        </div>
        
    </div>
</div>
<div class="nav-left">
    <div class="perfil">
        <span><img src="assets/public/icon/sonreir.svg" alt="img"></span>
        <span>Chats</span>
    </div>
    
    <div class="config ">
        <span id="openSearch" (click)="openSearch(search, true)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" >
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
            </svg>
        </span>

        <span><img  src="assets/public/icon/config.png" alt="icon"></span>
    </div>
</div>
<div class="search-users">
    <div class="search">
        <span><img  src="assets/public/icon/search.png" alt="icon"></span>
        <span><input type="text" name="search" placeholder="Search" autocapitalize="off"></span>
    </div>
</div>
<div class="active-users" >
    <div class="active-content ripple"  *ngFor="let ct of contactsActive.users">
        <a class="linkUsers" (click)="UserSelected({id:ct._id_user,name:ct.name})" >
            <span>
                <span class="actived" *ngIf="ct.stateActive"></span>
                <img src="assets/public/icon/sonreir.svg" alt="img">
            </span>
            <span>{{ct.name}}</span>
        </a>
    </div>
    <!--<a class="linkUsers ripple">
        <span>
            <span class="actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img"></span>
        <span>Monica sacamil</span>
    </a>
    <a class="linkUsers ripple">
        <span><img src="assets/public/icon/sonreir.svg" alt="img"></span>
        <span>Luis armando</span>
    </a>
    <a class="linkUsers ripple">
        <span><img src="assets/public/icon/sonreir.svg" alt="img"></span>
        <span>Samael jose</span>
    </a>
    
    <a class="linkUsers ripple">
        <span><img src="assets/public/icon/sonreir.svg" alt="img"></span>
        <span>Samael jose</span>
    </a>-->
</div>

<div class="content-message-users">

    <div class="My-Contact-Welcome" *ngIf="MyContacts.contacts.length<=0">
        Your users will appear here
    </div>
    <div class="users" *ngFor="let ct of MyContacts.contacts; let i=index;">
        

        <div class="users-message-info ripple" (click)="UserSelected({id:ct._id_user,name:ct.name})">
            <div class="users-message-info-left">
                <span *ngIf="ct.stateActive" class="users-message-infor-left-actived"></span>
                <img src="assets/public/icon/sonreir.svg" alt="img">
            </div>
            <div class="users-message-info-center ">
                <div class="users-message-info-center-name">
                    <span><strong>{{ct.name}}</strong></span>
                </div>
                <div class="users-message-info-center-message">
                    <span class="emit" #emit>{{ct.message.send}}</span>
                    <span *ngIf="ct.message.typeMessage" style="color: green;">Escribiendo... </span>
                    <span *ngIf="!ct.message.typeMessage" class="message-emit" [class.new]="!imageReceive(ct.message.send) && ct.message.cantMessageReceive != 0">
                        {{decryptMessages(ct.message.msm)}}
                    </span>
                </div>
            </div>
            <div class="users-message-info-right">
                <div class="users-message-info-right-date" [class.new]="!imageReceive(ct.message.send) && ct.message.cantMessageReceive != 0">
                    <span><small>{{DateformatContacts(ct.message.created_at)}}</small></span>
                </div>
                <div class="info-message-send"  >
                    <span class="info-send" >
                        <img *ngIf="imageReceive(ct.message.send)" src="{{ct.message.image}}"  title="{{ct.message.read}}">
                        <span *ngIf="!imageReceive(ct.message.send) && ct.message.cantMessageReceive != 0" class="cant-receive-message" title="New message/s">{{ct.message.cantMessageReceive}}</span>
                        <!--<img *ngIf="imageReceive(ct.message.send)" src="{{ct.message.image}}"  title="{{ct.message.read}}">-->
                    </span>
                </div>
            </div>
        </div>
    </div>
<!--
    <div class="users-message-info ripple">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info ripple">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info ripple">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>
    -->
</div>
<app-alert></app-alert>