<div #search class="search-User-content">
    <div class="search-User-nav">
        <span (click)="openSearch(search, false)"><img  src="assets/public/icon/OptionBack.png" alt="icon"></span>
        <span><input type="text" placeholder="Search" #name (keyup)="SearchUsers($event)"></span>
    </div>
    <div class="search-User-person" *ngFor="let users of AllUserSearch" >
        
        <div class="person ripple" (click)="UserSelected(users._id)">
            <span><img src="assets/public/icon/sonreir.svg" alt="img"></span>
            <span>{{users.name}}</span>
        </div>
        
    </div>
</div>
<div class="nav-left">
    <div class="perfil">
        <span><img src="assets/public/icon/sonreir.svg" alt="img"></span>
        <span>Chats</span>
    </div>
    
    <div class="config ">
        <span id="openSearch" (click)="openSearch(search, true)"><img  src="assets/public/icon/search.png" alt="icon"></span>
        <span><img  src="assets/public/icon/config.png" alt="icon"></span>
    </div>
</div>
<div class="active-users">
    <a class="linkUsers ripple">
        <span>
            <span class="actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </span>
        <span>Moises iglesias</span>
    </a>
    <a class="linkUsers ripple">
        <span>
            <span class="actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img"></span>
        <span>Monica sacamil</span>
    </a>
    <a class="linkUsers ripple">
        <span><img src="assets/public/icon/sonreir.svg" alt="img"></span>
        <span>Luis armando</span>
    </a>
    <a class="linkUsers ripple">
        <span><img src="assets/public/icon/sonreir.svg" alt="img"></span>
        <span>Samael jose</span>
    </a>
    
    <a class="linkUsers ripple">
        <span><img src="assets/public/icon/sonreir.svg" alt="img"></span>
        <span>Samael jose</span>
    </a>
</div>
<div class="search-users">
    <div class="search">
        <span><img  src="assets/public/icon/search.png" alt="icon"></span>
        <span><input type="text" name="search" placeholder="Search" autocapitalize="off"></span>
    </div>
</div>
<div class="content-message-users"> 
    <div class="users-message-info ripple">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center ">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info ripple">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info ripple">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info ripple">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>

    <div class="users-message-info">
        <div class="users-message-info-left">
            <span class="users-message-infor-left-actived"></span>
            <img src="assets/public/icon/sonreir.svg" alt="img">
        </div>
        <div class="users-message-info-center">
            <div class="users-message-info-center-name">
                <span><strong>Jose Moises iglesias</strong></span>
            </div>
            <div class="users-message-info-center-message">
                <span class="emit">Tu: </span>
                <span class="message-emit">This is the message</span>
            </div>
        </div>
        <div class="users-message-info-right">
            <div class="users-message-info-right-date">
                <span><small>20 Feb 2020</small></span>
            </div>
            <div class="info-message-send">
                <span class="info-send">
                    <img src="assets/public/icon/check.png" alt="S">
                </span>
            </div>
        </div>
    </div>
</div>
<app-alert></app-alert>