<div class="nav-message">
    
    <div class="usersReceptor">
        <div class="back-option">
            <img src="assets/public/icon/OptionBack.png" alt="back">
            <span [class.State_false]="Stete_active_user.LastTimeActive != 0 && Stete_active_user.LastTimeActive < 60" *ngIf="Stete_active_user.state_active || Stete_active_user.LastTimeActive != 0 && Stete_active_user.LastTimeActive < 60" class="state_active">
                <small *ngIf="Stete_active_user.LastTimeActive != 0 && Stete_active_user.LastTimeActive < 60">{{Stete_active_user.LastTimeActive}} min.</small>
            </span>
        </div>
        <span><img src="assets/public/icon/sonreir.svg" alt="img"></span>
        <span class="usersReceptor-name">
            <strong>{{UserSelectedResponse.msm.user.name}}</strong>
            <span class="typing" *ngIf="ResptypeMessage">Escribiendo...</span>
        </span>
    </div>
    <div class="nav-options">
        <span><img src="assets/public/icon/phone.png" alt="icon"></span>
        <span><img src="assets/public/icon/video.png" alt="icon"></span>
        <span><img src="assets/public/icon/exclamacion.png" alt="icon"></span>
    </div>
</div>

<div class="show-messages" #msm >
    <div class="welcome-to-your-chat" *ngIf="!UserSelectedResponse.myId">
        <p><strong>WELCOME</strong></p>
        <small>Selection users for view the messages</small>
    </div>

    <div class="show-message-new-user" *ngIf="!UserSelectedResponse.type || UserSelectedResponse.msm.messages.data.length > 0 ">
        <div class="new-user-image">
            <img src="assets/public/icon/sonreir.svg" alt="{{UserSelectedResponse.msm.user.name}}">
        </div>
        <div class="new-user-name">
            <p>{{UserSelectedResponse.msm.user.name}}</p>
        </div>
        <div class="new-user-email">
            <p>{{UserSelectedResponse.msm.user.email}}</p>
        </div>
    </div>

    <div class="showMessages" [class.show]="UserSelectedResponse.type" *ngFor="let msm of UserSelectedResponse.msm.messages.data">
        
        <div class="show-messages-left" *ngIf="msm._id_user_emisor==UserSelectedResponse.msm.user._id" >
            <div class="receptorIMG"><img src="assets/public/icon/sonreir.svg" alt="img"> </div>
             <div class="content-message-left">
                 <span class="toggle-left"></span>
                 {{decryptMessage(msm.message.messages.msm)}}      
                            
                 <span class="date-message-left">{{msm.message.messages.created_at | date:'shortTime'}}</span>
             </div>
        </div>
         
        <div class="show-messages-right" *ngIf="msm._id_user_receptor!=UserSelectedResponse.myId" >
            <div class="content-message-right"> 
                {{decryptMessage(msm.message.messages.msm)}}      
                <span class="toggle-right"></span>
                <span class="date-message-right">{{msm.message.messages.created_at | date:'shortTime'}}</span>   
            </div>
            <div class="State-message">
                <img src={{msm.message.messages.image}} class="stateUser" onerror="this.setAttribute('hidden',true)" title="{{msm.message.messages.read}}" alt="img"> 
                
            </div>

        </div>

    </div>
    <div class="show-messages-left type-message" *ngIf="ResptypeMessage">
        <div class="receptorIMG"><img src="assets/public/icon/sonreir.svg" alt="img"> </div>
        <div class="content-message-left">
            <span class="typeSpan"></span>
            <span class="typeSpan"></span>
            <span class="typeSpan"></span>
        </div>
    </div>
    
    <!--
    <div class="show-messages-center">
        <div class="line-center">
            <span>Monday 01 January 2020</span>

        </div>
    </div>
        <div class="messages-right">
        <div class="show-messages-right">
            <div class="content-message-right">
                wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
                <span class="date-message-right">7:00 PM</span>
            </div>
        </div>
    </div>
    <div class="show-messages-left">
        <div class="receptorIMG"><img src="assets/public/icon/sonreir.svg" alt="img"> </div>
        <div class="content-message-left">
            wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
            <span class="date-message-left">7:00 PM</span>
        </div>
    </div>
    
    <div class="show-messages-center">
        <span>Monday 01 January 2020</span>
    </div>-->
</div>

<div class="send-options"> 
    <div class="content-options">
        <div class="content-option-writeMSM">
            <textarea id="message"  rows="1" placeholder="Type your message" (keyup)='typeMessage($event)' [(ngModel)]="Message" *ngIf="UserSelectedResponse.myId"></textarea>
        </div>
        <div class="content-option-attached">
            <span><img src="assets/public/icon/sonreir.svg" alt="icon"></span>
            <span><img src="assets/public/icon/sonreir.svg" alt="icon"></span>
            <span><img src="assets/public/icon/image.png" alt="icon"></span>
            <div class="content-option-send">
                <span (click)="sendMessage()" ><img src="assets/public/icon/send.png" alt="icon"></span>
            </div>
        </div>
    </div>
</div>
