<div class="nav-message">
    
    <div class="usersReceptor">
        <div class="back-option">
            <img src="assets/public/icon/OptionBack.png" alt="back">
        </div>
        <span><img src="assets/public/icon/sonreir.svg" alt="img"></span>
        <span><strong>{{UserSelectedResponse.msm.user.name}}</strong></span>
    </div>
    <div class="nav-options">
        <span><img src="assets/public/icon/phone.png" alt="icon"></span>
        <span><img src="assets/public/icon/video.png" alt="icon"></span>
        <span><img src="assets/public/icon/exclamacion.png" alt="icon"></span>
    </div>
</div>

<div class="show-messages" #msm >

    <div class="welcome-to-your-chat" *ngIf="!UserSelectedResponse.myId">
        <p><strong>WELCOME</strong></p>
        <small>Selection users for view the messages</small>
    </div>

    <div class="show-message-new-user" *ngIf="!UserSelectedResponse.type">
        <div class="new-user-image">
            <img src="assets/public/icon/sonreir.svg" alt="{{UserSelectedResponse.msm.user.name}}">
        </div>
        <div class="new-user-name">
            <p>{{UserSelectedResponse.msm.user.name}}</p>
        </div>
        <div class="new-user-email">
            <p>{{UserSelectedResponse.msm.user.email}}</p>
        </div>
    </div>

    <div class="showMessages" [class.show]="UserSelectedResponse.type" *ngFor="let msm of UserSelectedResponse.msm.messages.data">

        <div class="show-messages-left" *ngIf="msm._id_user_emisor==UserSelectedResponse.msm.user._id" >
            <div class="receptorIMG"><img src="assets/public/icon/sonreir.svg" alt="img"> </div>
             <div class="content-message-left">
                 <span class="toggle-left"></span>
                 {{msm.message.messages.msm}}                 
                 <span class="date-message-left">7:00 PM</span>
             </div>
        </div>
         
        <div class="show-messages-right" *ngIf="msm._id_user_receptor!=UserSelectedResponse.myId" >
            <div class="content-message-right"> 
                {{msm.message.messages.msm}}
                <span class="toggle-right"></span>
                <span class="date-message-right">7:00 PM</span>   
            </div>
        </div>

    </div>

    <!--<div class="messages-left">
        <div class="show-messages-left">
            <div class="receptorIMG"><img src="assets/public/icon/sonreir.svg" alt="img"> </div>
             <div class="content-message-left">
                 <span class="toggle-left"></span>
                 Hi,i am the content of message left
                 <span class="date-message-left">7:00 PM</span>
             </div>
         </div>
         <div class="show-messages-left">
             <div class="receptorIMG"><img src="assets/public/icon/sonreir.svg" alt="img"> </div>
              <div class="content-message-left">
                  <span class="toggle-left"></span>
                  Hi,i am the content of message left
                  <span class="date-message-left">7:00 PM</span>
              </div>
          </div>
          <div class="show-messages-left">
             <div class="receptorIMG"><img src="assets/public/icon/sonreir.svg" alt="img"> </div>
              <div class="content-message-left">
                  <span class="toggle-left"></span>
                  Hi,i am the content of message left
                  <span class="date-message-left">7:00 PM</span>
              </div>
          </div>
    </div>
    <div class="show-messages-center">
        <div class="line-center">
            <span>Monday 01 January 2020</span>

        </div>
    </div>
    <div class="messages-right">
        <div class="show-messages-right">
            <div class="content-message-right"> 
                Hi, i am content the of message right
                <span class="toggle-right"></span>
                <span class="date-message-right">7:00 PM</span>   
            </div>
        </div>
        <div class="show-messages-right">
            <div class="content-message-right">
                Hi, i am content the of message right
                <span class="toggle-right"></span>
                <span class="date-message-right">7:00 PM
                    <div class="emisorIMG"><img src="assets/public/icon/sonreir.svg" alt="img"> </div>
    
                </span>
            </div>
    
        </div>
        <div class="show-messages-right">
            <div class="content-message-right">
                wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
                <span class="toggle-right"></span>
                <span class="date-message-right">7:00 PM</span>
            </div>
        </div>
    </div>
    <div class="messages-left">
        <div class="show-messages-left">
            <div class="receptorIMG"><img src="assets/public/icon/sonreir.svg" alt="img"> </div>
            <div class="content-message-left">
                wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
                <span class="date-message-left">7:00 PM</span>
            </div>
        </div>
        <div class="show-messages-left">
            <div class="receptorIMG"><img src="assets/public/icon/sonreir.svg" alt="img"> </div>
            <div class="content-message-left">Hi,i am the content of message left
                <span class="date-message-left">7:00 PM</span>
            </div>
        </div>
        <div class="show-messages-left">
            <div class="receptorIMG"><img src="assets/public/icon/sonreir.svg" alt="img"> </div>
            <div class="content-message-left">Hi,i am the content of message left
                <span class="date-message-left">7:00 PM</span>
            </div>
        </div>
    </div>
    <div class="messages-right">
        <div class="show-messages-right">
            <div class="content-message-right">
                wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
                <span class="date-message-right">7:00 PM</span>
            </div>
        </div>
    </div>
    <div class="show-messages-left">
        <div class="receptorIMG"><img src="assets/public/icon/sonreir.svg" alt="img"> </div>
        <div class="content-message-left">
            wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
            <span class="date-message-left">7:00 PM</span>
        </div>
    </div>
    
    <div class="show-messages-center">
        <span>Monday 01 January 2020</span>
    </div>-->
</div>

<div class="send-options"> 
    <div class="content-options">
        <div class="content-option-writeMSM">
            <textarea id="message"  rows="1" placeholder="Type your message" [(ngModel)]="Message" *ngIf="UserSelectedResponse.myId"></textarea>
        </div>
        <div class="content-option-attached">
            <span><img src="assets/public/icon/sonreir.svg" alt="icon"></span>
            <span><img src="assets/public/icon/sonreir.svg" alt="icon"></span>
            <span><img src="assets/public/icon/image.png" alt="icon"></span>
            <div class="content-option-send">
                <span (click)="sendMessage(msm)" ><img src="assets/public/icon/send.png" alt="icon"></span>
            </div>
        </div>
    </div>
</div>
